{% extends 'users/base.html' %}
{% load static %}

{% block title %}Design list{% endblock %}


{%block header%}

<link rel="stylesheet" type="text/css" href="{% static 'design/css/design.css' %}">

    <div class="top">
        <div class="logo">
            <img src="{% static 'users/img/logo.jpg' %}" alt="Logo" onclick="window.location.href='{% url 'users:home' %}'">
        </div>
        <div class="menu">
            <div class="expandable-container">
                <button class="expandable" onclick="window.location.href='{% url 'users:home' %}'">Home</button>
            </div>
            <div class="expandable-container">
                <button class="expandable" onclick="window.location.href='{% url 'design:design_submission' %}'">New design</button>
            </div>
            
        
            <div class="expandable-container">
                <button class="expandable" onclick="window.location.href='{% url 'users:about_us' %}'">About us</button>
            </div>
        
            
            <div class="expandable-container">
                <button class="expandable" >User</button>
                <div class="options" id="menu">
                    {% if not request.user.is_authenticated %}
                    <button onclick="window.location.href='{% url 'users:register' %}'">Create Account</button>
                    <button onclick="window.location.href='{% url 'users:login' %}'">Login</button>
                     {% else %}
                    <button onclick="window.location.href='{% url 'users:logout' %}'">Logout</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block content %}



<div class="recent-blogs">
    
   <h2>Approved designs</h2>
   <form method="GET" action="{% url 'design:view_designs' %}">
            <input type="text" name="q" placeholder="Search designs..." value="{{ query }}" style="width: 25%;height: 25px; border-radius: 6pc; padding: 1%; border-width: 0cap; background-color: hsl(208, 100%, 97%); opacity: 60%;">
            
            <button type="submit" class="expandable" style="width: 5%; margin-top: 1%;">Search</button>
        </form>
    <p>Below are the designs that have been processed and approved by the admin.</p>

    {% if designs %}
    <div class="blog-list">
        {% for design in designs %}
        <div class="blog-item" onclick="window.location.href='{% url 'design:view_recent'  design.title %}'">

                    <h3>{{ design.title }}</h3>
                    <p><strong>Submitted by:</strong> {{ design.name }} {{ design.surname }}</p>
                    <p><strong>Verified by:</strong>{{design.verified_by}}</p>
                    <hr>
                
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No approved designs available.</p>
    {% endif %}
</div>
        <hr>





{% endblock %}

