    h1{
        text-align: center;
        font-family: 'CustomFont', serif;
    }
    .login-container {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--background-color);
        }

        .login {
            background-color: var(--secondary-color);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 400px;
        }

        .Loginform {
            background-color: var(--secondary-color);
            padding: 30px;
            
            
        }


        .Loginform_label {
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
            color: #333;
        }

        .Loginform_input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
            font-size: 14px;
        }

        .Loginform_button {
            width: 100%;
            padding: 10px;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .Loginform_button:hover {
            background-color: darkblue;
        }

        
        /* Responsive Adjustments */
@media (max-width: 768px) {
    .login {
        padding: 20px;
    }

    h2 {
        font-size: 1.8rem;
    }
h1 {
        font-size: 1.8rem;
    }
    p{
      font-size: .9rem;
    }
    .Loginform_input {
        font-size: 16px;
    }

    .Loginform_button {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.8rem;
    }
h1 {
        font-size: 1.8rem;
    }
    p{
      font-size: .9rem;
    }

    .login-container {
        padding: 10px;
    }

    .login {
        padding: 15px;
    }

    .Loginform_input {
        padding: 8px;
    }

    .Loginform_button {
        font-size: 16px;
    }
}