{% extends 'users/base.html' %}
{%load static%}
{%block title%}Edit {{blog.title}}{%endblock%}
{%block header%}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/edit_blog.css' %}">
    <div class="top">
        <div class="logo">
            <img src="{% static 'users/img/logo.jpg' %}" alt="Logo" onclick="window.location.href='{% url 'users:home' %}'">
        </div>
        <div class="menu">
            <div class="expandable-container">
                <button class="expandable" onclick="window.location.href='{% url 'users:home' %}'">Home</button>
            </div>
        
            <div class="expandable-container">
                <button class="expandable" onclick="window.location.href='{% url 'users:about_us' %}'">About us</button>
            </div>
        
            <div class="expandable-container">
                <button class="expandable" >Log In</button>
                <div class="options">
                    <button aria-label="Email Login" onclick="window.location.href='{% url 'users:login' %}'">Email Login</button>
                    
                </div>
            </div>
        
            <div class="expandable-container">
                <button class="expandable" >Sign Up</button>
                <div class="options">
                    <button aria-label="Create Account" onclick="window.location.href='{% url 'users:register' %}'">Create Account</button>
                    
                </div>
            </div>
            <div class="expandable-container">
                <button class="expandable" >User</button>
                <div class="options" id="menu">
                    <button onclick="window.location.href='{% url 'users:logout' %}'">Logout</button>
                </div>
            </div>
        </div>
    </div>
    
{%endblock%}
{% block content %}
<h3>Edit Blog: {{ blog.title }}</h3>
<div class="blog-container">
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Save Changes</button>
    </form>
</div>

{% endblock %}
