
{% extends 'users/base.html' %}
{% load static %}

{% block title %}main page{% endblock %}


{%block header%}

<link rel="stylesheet" type="text/css" href="{% static 'users/css/main.css' %}">

    <div class="top">
        <div class="logo">
            <img src="{% static 'users/img/logo.jpg' %}" alt="Logo" onclick="window.location.href='{% url 'users:home' %}'">
        </div>
        <div class="menu">
          <div class="expandable-container">
                <button class="expandable" onclick="window.location.href='{% url 'patent:patent_brief' %}'">Patent</button>
            </div>

            <div class="expandable-container">
                <button class="expandable" onclick="window.location.href='{% url 'trademark:trademark_brief' %}'">Trademark</button>
            </div>

            <div class="expandable-container">
                <button class="expandable" >Other Services</button>
                <div class="options">
                    <button aria-label="Copyright" onclick="window.location.href='{% url 'copyright:copyright_brief' %}'">Copyright</button>
                    <button aria-label="Blog" onclick="window.location.href='{% url 'users:all_blogs' %}'">Blog</button>
                    <button aria-label="Sldc" onclick="window.location.href='{% url 'sldc:sldc_brief' %}'">SICLD</button>
                    <button aria-label="GI" onclick="window.location.href='{% url 'GI:GI_brief' %}'">GI</button>
                    <button aria-label="design" onclick="window.location.href='{% url 'design:design_brief' %}'">Design</button>
                    </div>
            </div>

            <div class="expandable-container">
                <button class="expandable" >Blog</button>
                <div class="options">
                    <button aria-label="Blog" onclick="window.location.href='{% url 'users:write_blog' %}'">Write blog</button>
                    <button aria-label="Blog" onclick="window.location.href='{% url 'users:manage_blog' %}'">Manage blog</button>
                    <button aria-label="Blog" onclick="window.location.href='{% url 'users:view_blog' %}'">View blog</button>
                    
                  </div>
            </div>
        
            
            <div class="expandable-container">
                <button class="expandable" >About us</button>
                <div class="options" id="menu">
                    <button onclick="window.location.href='{% url 'users:about_us' %}'">About us</button>
                    <button onclick="window.location.href='{% url 'users:contact_us' %}'">Contact us</button>
                    <button onclick="window.location.href='{% url 'users:termsconditions' %}'">Terms & conditions</button>
                </div>
            </div>
            
        
            
            <div class="expandable-container">
                <button class="expandable" >User</button>
                <div class="options" id="menu">
                    {% if not request.user.is_authenticated %}
                    <button onclick="window.location.href='{% url 'users:register' %}'">Create Account</button>
                    <button onclick="window.location.href='{% url 'users:login' %}'">Login</button>
                     {% else %}
                    <button onclick="window.location.href='{% url 'users:logout' %}'">Logout</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block content %}
<script>
        
            if ('{{msg}}'!='None'){
        
                alert("{{ msg }}");
            }
            
        
            
        
        </script>
<div class="container">
    <div class="blur">
        <div class="side-container">
            <div class="center">
            <h1>Agastya IPR</h1>
            <p>The World Intellectual Property Organization (WIPO) oversees global IPR regulations, while national laws govern enforcement within individual countries. In India, the Intellectual Property India office administers patents, trademarks, and designs</p>
            <hr>
            <br>
            <button class="expandable" style="width: 35%;" onclick="window.location.href='{% url 'users:register' %}'">Sign up</button>
        </div>

        <img src="{% static 'users/img/.png' %}" class="side-img">
        </div>
        
        

    </div>
</div>

  <div class="headline">
    
        <div class="head-text">{{news.news}}</div>
        
    </div>

<hr style="margin: 5%; margin-left: 2.5%; margin-right: 2.5%;">
<div style="background-color: var(--hover-color); padding: 0%; justify-content: center; align-content: center; margin: auto;"></div>
<div >
<div class="slideshow-container">
    {% for images in slideshow_images %}
<div class="mySlides fade">
  <img src="{{ images.image.url }}" style="width:95%">
</div>
{% endfor %}
<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
</div>
<div class="recent-blogs">
    <h2>Recent Blogs</h2>
    <div class="blog-list">
        {% for info in Blogs|slice:":3" %}
        <div class="blog-item" onclick="window.location.href='{% url 'users:view_recent' info.user.id info.title %}'">
            <h3>Title: {{info.title}}</h3>
            <p>Written by: {{info.user.username}}</p>
        </div>
        {% endfor %}
    </div>
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

{% endblock %}

