{% extends 'users/base.html' %}
{% load static %}

{% block title %}GI list{% endblock %}


{%block header%}
<link rel="stylesheet" type="text/css" href="{% static 'GI/css/GI.css' %}">

    <div class="top">
        <div class="logo">
            <img src="{% static 'users/img/logo.jpg' %}" alt="Logo" onclick="window.location.href='{% url 'users:home' %}'">
        </div>
        <div class="menu">
            <div class="expandable-container">
                <button class="expandable" >Services</button>
                <div class="options">
                        <button aria-label="new GI" onclick="window.location.href='{% url 'GI:GI_submission' %}'">New GI</button>

                </div>
            </div>
            
        
            <div class="expandable-container">
                <button class="expandable" onclick="window.location.href='{% url 'users:about_us' %}'">About us</button>
            </div>
        
            <div class="expandable-container">
                <button class="expandable" >Log In</button>
                <div class="options">
                    <button aria-label="Email Login" onclick="window.location.href='{% url 'users:login' %}'">Email Login</button>
                    
                </div>
            </div>
        
            <div class="expandable-container">
                <button class="expandable" >Sign Up</button>
                <div class="options">
                    <button aria-label="Create Account" onclick="window.location.href='{% url 'users:register' %}'">Create Account</button>
                    
                </div>
            </div>
            <div class="expandable-container">
                <button class="expandable" >User</button>
                <div class="options" id="menu">
                    {% if not request.user.is_authenticated %}
                    <button onclick="window.location.href='{% url 'users:register' %}'">Create Account</button>
                    <button onclick="window.location.href='{% url 'users:login' %}'">Login</button>
                     {% else %}
                    <button onclick="window.location.href='{% url 'users:logout' %}'">Logout</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block content %}


<div class="recent-blogs">
    
   <h2>Approved GIs</h2>
   <form method="GET" action="{% url 'GI:view_GIs' %}">
            <input type="text" name="q" placeholder="Search GIs..." value="{{ query }}" style="width: 25%;height: 25px; border-radius: 6pc; padding: 1%; border-width: 0cap; background-color: hsl(208, 100%, 97%); opacity: 60%;">
            
            <button type="submit" class="expandable" style="width: 5%; margin-top: 1%;">Search</button>
        </form>
    <p>Below are the GIs that have been processed and approved by the admin.</p>

    {% if GIs %}
    <div class="blog-list">
        {% for GI in GIs %}
        <div class="blog-item" onclick="window.location.href='{% url 'GI:view_recent'  GI.title %}'">

                    <h3>{{ GI.title }}</h3>
                    <p><strong>Submitted by:</strong> {{ GI.name }} {{ GI.surname }}</p>
                    <p><strong>Verified by:</strong>{{GI.verified_by}}</p>
                    <hr>
                
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No approved GIs available.</p>
    {% endif %}
</div>
        <hr>



{% endblock %}

